/*
 * Estilos de tu proyecto
 */
 * {
   padding: 0;
   margin: 0px;
 }

a {
  text-decoration: none;
  color: orange;
  font-weight: bolder;
  text-align: center;
}

/*se agrego position fixed*/
header {
  background-color: #f7c531;
  width: 100%;
  height: 65px;
  position: fixed;
  margin: 0;
  padding: 0;
}

 a:hover{
   cursor: pointer;
   color: #f7c531;
 }

/* style chart home*/
 .chart1 {
  margin: 50px;
 }


 .datos-generation {
   font-size: 25px;
   font-weight: bolder;
   font-family: sans-serif;
   border; 2px solid white;
   border-radius: 10px;
   color: black;
   background-color: #ffc107;
   padding: 10px;
   text-align: center;
   width: 900px;

 }

 .flag >img {
   width: 160px;
   height: 100px;
   border-radius: 10px;
   display: inline-block;
   margin-bottom: 20px;
   margin-top: 15px;
   margin-left: 10px;
 }

 .estilo_menu_home{
   border: 3px solid orange;
   border-radius: 8px;
   color: orange;
   display: inline-block;
   font-family: sans-serif;
   font-size: 22px;
   margin: 10px;
   margin-left:36%;
   padding: 15px;
  }


  .estilo_menu_venues {
    margin-left: 5px;
    font-size: 23px;
    margin-bottom: 30px;
  }

/*se agrego fixed*/
  .menu_sedes{
    border: 3px solid orange;
    border-radius: 8px;
    color: orange;
    font-family: sans-serif;
    font-size: 22px;
    padding: 20px;
    width: 21%;
    margin-left: 30px;
    margin-top: 120px;
    position: fixed;
   }


 .generation {
  color: darkorange;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 20px;
  margin-top: 20px;
}

  .home >a >img {
    border-radius: 5px;
    display: inline-block;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 100px;
    margin-left: 0;
  }

 .home, .flag {
   display: inline-block;
 }

 .logo{
   height: 10px;
   width: 15%;
   text-align: center;
   margin-left: 40%;
 }

 .logo-home {
   display: inline-block;
   height: 100px;
   width: 200px;
 }

.options {
  margin-bottom: 15px;
  font-size: 22px;
}

#graficas {n
  position: relative;
  width: 1700px;
  margin-left: 400px;
  padding-top: 100px;
}


#menu {
  padding-top: 70px;
}
